{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:species_organism_import_pfaf' %}" class="addlink">
            Importer PFAF
        </a>
    </li>
    <li>
        <a href="{{ request.path }}?export=csv{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" class="viewsitelink">
            📥 Exporter CSV
        </a>
    </li>
    <li>
        <a href="{{ request.path }}?export=pdf{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" class="viewsitelink">
            📥 Exporter PDF
        </a>
    </li>
{% endblock %}
